@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p><a href="Cliente/Create">Crear nuevo cliente</a></p>
</div>

<div>
    <p><a href="Cliente/Index">Trabajar con un cliente existente</a></p>
</div>

<div>
    <p><a href="Cliente/Filtrar">Editar un cliente</a></p>
</div>