@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <!--Card-->
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="~/check.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="Cliente/Index">Trabajar con un cliente existente</a></h5>

                </div>
            </div>
            <!--Card-->

        </div>
        <div class="col">
            <!--Card-->
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="~/editar.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="Cliente/Filtrar">Editar un cliente</a></h5>
                </div>
            </div>
            <!--Card-->
        </div>
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col">
            <!--Card-->
            <div class="card" style="width: 10rem;">
                <img class="card-img-top" src="~/nuevo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="Cliente/Create">Crear nuevo cliente</a></h5>
                </div>
            </div>

            <!--Card-->

        </div>
       
    </div>
</div>

    

    


